.loginFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginFormImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imageLogoSaia {
  width: 100%;
  max-width: 6rem;
  position: relative;
}

.formContentTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-bottom: 3rem;
}

.imageSaiaDetail {
  position: absolute;
  max-width: 8rem;
  opacity: 0.5;
}

.titleForm {
  color: #63c0d4;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 1;
  opacity: 0;
  animation: showElementAnimation 0.8s ease-in-out 0.5s forwards;
}

.form-container {
  width: 100%;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  clip-path: circle(0% at center center);
  animation: clipPathAnimation 1s ease-in 0.8s forwards;
}

.form-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  border-bottom: 1px solid #0000002a;
}

.form-input {
  flex: 1;
  padding: 12px;
  outline: none;
}

.form-input::placeholder {
  font-weight: bold;
  color: #0000004d;
}

.form-button {
  background-color: #63c0d4;
  width: 100%;
  padding: 18px;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  transition: all ease-in-out 0.5s;
}

.form-button:hover {
  background-color: #4d93a3;
}

.logoUFPA {
  max-width: 5rem;
  opacity: 0;
  animation: showElementAnimation 0.5s ease-in-out 1.4s forwards;
}

hr {
  width: 0%;
  border: 1px solid #63c0d4;
  border-radius: 2rem;
  opacity: 0;
  animation: lineAnimation 0.5s ease-in-out 2s forwards;
}

img {
  width: 90%;
  min-width: 90%;
  clip-path: circle(0% at center center);
  animation: clipPathAnimation 1s ease-in 0.8s forwards;
}

/* Media queires */

@media screen and (min-width: 768px) {
  .loginFormContainer {
    min-height: unset;
    height: 100%;
    padding: 0 1.5rem;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .titleForm {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .loginFormImage {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    width: 450px;
  }
}

/* Animations */

@keyframes showElementAnimation {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes clipPathAnimation {
  100% {
    clip-path: circle(150% at center center);
  }
}

@keyframes lineAnimation {
  100% {
    width: 95%;
    opacity: 1;
  }
}

/* Utilitis class */

.input-focus {
  border-bottom-color: #4c93a3;
}

.icon-user-focus {
  color: #4c93a3;
}

.icon-user-blur {
  color: #0000004d;
}
